body {
	background-color: #ffff00;
	color: #ff0000;
}

.banner {
	background-color: #ffff00;
	text-align: center;
	width: 1900px;
}

.defaultButton {
	font-weight: bold;
}

.categoryHeader {
	font-size: 200%;
	font-weight: bold;
	color: #ff0000;
	text-align: center;
}

.categoryTitle {
	font-size: 150%;
	font-weight: bold;
	color: #5650d2;
}

.threadTitle {
	font-size: 150%;
	color: #000000;	
}

.category {
	font-size: 125%;
	text-align: center;
	border: 1px solid #000000;
	background-color: #f98383;
}

.forumTitle {
	background-color: #ffff00;
	font-size: 300%;
	font-weight: bold;
	color: 0000ff;
	text-align: left;
}

/* Admin related */
.adminTitle {
	font-size: 200%;
	font-weight: bold;
}